@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');

body { /* Body of my site */
    font-family: 'Smooch Sans', sans-serif;
    background: #BB0000;
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: initial;
  }
 
.topbar {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 5vh;
    margin-top: -21px;
}
.topbar ul {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;

}
.topbar ul li {
  padding: 0 100px;
}