body {
    font-family: Serif;
    background: red;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: initial;
  }
 
/* topbar */
.top-bar {
    transition: all .2s ease-in-out;
    transition-duration: 10s;
    transition-property: all;
    opacity: 25%;
    background-color: black;
    padding: 0px;
    position: fixed;
    width: 100vw;
    height: 3vw;
}
.top-bar:hover {
    transition-duration: 500ms;
    transition-property: all;
    opacity: 100%;
    background-color: black;
    padding: 0px;
    position: fixed;
    width: 100vw;
    height: 3vw;
}
.top-bar u1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-bar u1 a {
    text-decoration: none;
    color: #fff;
}
.top-bar u1 a li {
    font-size: 2.5vw;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 0vw;
    height: 3vw;
    width: 15vw;
    transition: all .2s ease-in-out;
}
.top-bar u1 li:hover {
    color: black;
    background-color: #fff;
    transform:scale(1.25, 1.25);
}
.top-bar u1 li:hover a {
    text-decoration: none;
    color: black;
}
/* dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
