body {
    background-color:#cccccc;
}

.navbar {
    background-color: #000055;
    position: fixed;
    width: 100vw;
    height: 5vh;
    min-height: 30px;
}
.navbar ul {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;

}
.navbar ul li {
  margin-top: -12px;
  padding: 0 100px;
  transition: all .25s ease-in-out;

}
.navbar ul a {
  font-size: calc(20px + 1vh);
  text-decoration: none;
  color: #FFFFFF;
}
.navbar ul li:hover, .active {
  transform:scale(1.25, 1.25);
  background-color: 001188;
}
