body {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaper.dog%2Flarge%2F5486197.jpg&f=1&nofb=1&ipt=45aa4616974d14e9fe7855866e1a8aeb9666374485c2bfd6a61e4c7a2579ffb4&ipo=images);
  font-family: Tahoma;
  font-size: 1.5rem;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.site {
  width: 80%;
  height: 200%;
   background-color: rgba(0,0,0,0.95);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 30px;
    max-width: 1024px;
    border-radius: 15px;
    text-align: center;
}


#title {
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(0,0,0,1);
}

#description {
  font-size: 0.75rem;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(155,155,155,1);
  color: black;
}

fieldset {
    border: none;
    padding: 1rem 0.25rem;
    border-bottom: 3px solid #3b3b4f;
  }

.top-bar {
  text-align: center;
  background-color: black;
  padding: 0px;
  margin-top: -32px;
  position: fixed;
  width: 100vw;
  height: 3vw;
  left: 0px;
}

.top-bar u1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top-bar u1 a {
  text-decoration: none;
  color: #fff;
}
.top-bar u1 a li, button, .dropdown {
  font-size: 2.5vw;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 0vw;
  height: 3vw;
  width: 15vw;
  transition: all .2s ease-in-out;
}
.top-bar u1 li:hover {
  color: black;
  background-color: #fff;
  transform:scale(1.25, 1.25);
}
.top-bar u1 li:hover a {
  text-decoration: none;
  color: black;
}